.project {
  background-color: white;
  width: 20%;
  margin: 1rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
.done {
  color: gray;
  text-decoration: line-through;
  margin-left: 1rem;
}
.undone {
  display: flex;
  flex-direction: column;
}
.visible {
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
  color: rgb(72, 127, 153);
}
.project h4 {
  margin-left: 1rem;
}
.delete {
  color: red;
  font-weight: 900;
  cursor: pointer;
}
